.title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
button {
  max-width: 100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
a:-webkit-any-link {
  text-decoration: none;
}
